/* Cookie.css */
.cookie-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10vh; /* 50% of the viewport height */
    width: 100%; /* 100% of the viewport width */
}

.cookie-image {
    width: 10%; /* 10% of the container's width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.cookie-image:hover {
    opacity: 0.8;
}

.cookie-paragraph {
    position: absolute;
    bottom: 20vh; /* Position above the image */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5vw; /* 1.5% of the viewport width */
    color: #c15b01;
    text-align: center;
}