/* Cookie.css */
.cookie-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  }
  
  .cookie-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .cookie-image:hover {
    opacity: 0.8;
  }
  
  .cookie-paragraph {
    position: absolute;
    bottom: calc(15% + 10px); /* Adjust the spacing */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #c15b01;
    text-align: center;
  }