.Slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50; /* 50% of the viewport height */
    width: 30%; /* 100% of the viewport width */
    padding-left: 100;
    padding-right: 100;
 }
 